$font: "Libre Franklin", sans-serif;
$primaryBlue: hsl(223, 87%, 63%);
$paleBlue: hsl(223, 100%, 88%);
$lightRed: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$darkBlue: hsl(209, 33%, 12%);
$green: hsl(159, 43%, 63%);

body {
  font-size: 14px;
  margin: 0;
  font-family: $font;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 88px 0 48px 0;
  width: 640px;
}
.brangLogo {
  margin: 0 0 48px 0;
}
.headerText {
  margin: 0 0 14px 0;
  font-weight: 300;
  font-size: 49px;
  color: $gray;
}
.headerTextBold {
  font-weight: 700;
  color: $darkBlue;
}
.secondaryText {
  font-weight: 300;
  color: $darkBlue;
  margin: 0;
  margin: 0 0 40px 0;
}
.formSection {
  display: flex;
  margin: 0 0 88px 0;
}
.emailInput,
.submitButton {
  height: 54px;
  border-radius: 50px;
  outline: none;
}
.emailInput {
  padding-left: 32px;
  border: 1px solid #c0c6d2;
  width: 380px;
  margin: 0 16px 0 0;
  color: $darkBlue;
  font-size: 16px;
}
.emailInput::placeholder {
  font-weight: 500;
  color: hsl(220, 17%, 83%);
}
.submitButton {
  border: none;
  padding: 0 62px;
  color: white;
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(79, 125, 243, 0.3);
  font-family: $font;
  letter-spacing: 1px;
  background-color: $primaryBlue;
  cursor: pointer;
  transition: all 0.3s;
}
.submitButton:hover {
  filter: brightness(120%);
  transform: scale(1.05);
}
.errorMessage {
  margin: 10px 0 0 30px;
  color: $lightRed;
  font-size: 12px;
}
.errorState {
  border: 2px solid $lightRed;
}
.goodState {
  border: 2px solid $green;
}
.hidden {
  display: none;
}
.illustration {
  width: 640px;
  margin: 0 0 72px 0;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.25));
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0px 25px 5px rgba(0, 0, 0, 0.1));
    transform: translatey(-20px);
  }
  100% {
    filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.25));
    transform: translatey(0px);
  }
}
.socialMedia {
  margin: 0 0 24px 0;
}
i {
  font-size: 16px;
  text-align: center;
  width: 16px;
  color: $primaryBlue;
  border: 1px solid #e1e4e9;
  border-radius: 50%;
  padding: 8px;
  transition: all 0.25s;
}
i:hover {
  transform: scale(1.15);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
}
a:not(:last-child) {
  margin: 0 8px 0 0;
}
.copyRight {
  color: $gray;
  font-weight: 300;
  font-size: 12px;
}
@media (max-width: 768px) {
  .formSection {
    flex-direction: column;
    width: 288px;
  }
  .emailInput {
    width: 256px;
  }
  .errorMessage {
    margin: 10px 0 0 0;
    text-align: center;
  }
  .submitButton {
    margin: 15px 0 0 0;
  }
  .headerText {
    font-size: 25px;
  }
  .secondaryText {
    font-size: 18px;
  }
  .illustration {
    width: 85vw;
  }
  i {
    font-size: 22px;
    width: 22px;
  }
  a:not(:last-child) {
    margin: 0 16px 0 0;
  }
}
